/src/nbproject/private/
.idea
.project
.setting
.DS_Store
src/application/config/database.php
src/application/config/config.php
src/application/libraries/fake/
src/application/views/user/login.php.orig
src/application/views/user/register.php.orig