<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Corporation ltd.</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="menu.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="style.css" />
<style type="text/css">
<!--

div.wrap1 .wrap2 {
	/* only with left panel- background-image: url(img/bg1.gif); */
	/* right and left panel */ background-image: url(img/bg2.gif);
	/* only with right panel - background-image: url(img/bg3.gif); */
}

-->
</style>
</head>
<body>
<div class="wrap1">
  <div class="wrap2">
    <div class="logo">
      <div style="display:inline; float:left;"> Corporation ltd.
        <div class="slogan">Free CSS Website Template</div>
      </div>
      <div style="display:inline; float:right">
        <input type="text" />
      </div>
    </div>
    <div id="menu">
      <div class="menu">
        <ul>
          <li><span class="left"></span><span class="hlavny"><a href="#">Home</a></span><span class="right"></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="index1.html">2 Columns (1)</a></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="index2.html">2 Columns (2)</a></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="#" >Links</a></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="#">Contact</a></span></li>
        </ul>
      </div>
      <div class="info"> This text is describing selected item. You may give here advertisement, informations etc. Whatever! </div>
      <div class="leftpanel">
        <div class="header">Products</div>
        <ul id="categories">
          <li style="border-top:0;"><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li class="selected"><a href="#">Item 4 - selected</a></li>
          <li><a href="#">Item 5</a></li>
          <li><a href="#">Item 6</a></li>
          <li><a href="#">Item 7</a></li>
        </ul>
        <br />
        <div class="header">Office</div>
        <div class="text"> <strong>Corporation ltd.</strong><br />
          <br />
          212 Military Parkway<br />
          <span class="divider">Los Angeles, CA 94043</span> Telephone: +421 903 000 000<br />
          E-mail: e-mail@domain.com<br />
          ICQ: 000-000-000<br />
          Skype: corporation1<br />
          <br />
        </div>
      </div>
      <div class="mainpanel">
        <div class="text_">
          <h1><a href="#">Welcome on our website!</a></h1>
          <div class="text"><img src="img/img1.jpg" alt="" />This is a free, fully standards-compliant CSS template designed by P&amp;B Creations and supported by Tachlovice. You're pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. The photo used is from Wallpaperstock.net. Have fun with it :)<br />
            <br />
            Ad has utinam senserit maiestatis. Sonet causae per no, ex vel choro eirmod alienum. Tota takimata imperdiet ea est, ut eligendi iudicabit mei. Sea probo laboramus in, paulo placerat at qui. Vix labore concludaturque ex.<br />
            <br />
            Cu alii movet diceret duo. Sonet causae per no, ex vel choro eirmod alienum. </div>
          <h2><a href="#"><img src="img/more.gif" alt="" />Read more</a> <a href="#"><img src="img/comment.gif" alt="" />Comments (8)</a></h2>
        </div>
        <div class="text_">
          <h1><a href="#">Sed unum qualisque idi</a></h1>
          <div class="text"><img src="img/img1.jpg" alt="" />Sed unum qualisque id, et est reque veniam disputando. Ad eum saperet consulatu laboramus, audire percipit eu cum. Nec eu wisi delicatissimi. Ut putent fabulas civibus eam, eu mucius nostrum philosophia pro, pri an reque iuvaret vulputate. Eum ei assum sensibus iudicabit. Ad has utinam senserit maiestatis. Sonet causae per no, ex vel choro eirmod alienum. Tota takimata <a href="#">imperdiet</a> ea est, ut eligendi iudicabit mei. Sea probo <a href="#">laboramus</a> in, paulo placerat at qui. Vix labore concludaturque ex. Cu alii movet diceret duo. </div>
          <h2><a href="#"><img src="img/more.gif" alt="" />Read more</a> <a href="#"><img src="img/comment.gif" alt="" />Comments (1)</a></h2>
        </div>
        <div class="text_">
          <h1><a href="#">His aliquip inciderint ex</a></h1>
          <div class="text"><img src="img/img1.jpg" alt="" />His aliquip inciderint ex, meliore mediocritatem in sed, an fabulas inimicus praesent cum. Ut legendos conclusionemque vix. Ea legere tincidunt constituto has. Ut his <a href="#">solum audire efficiendi</a>, pri postea quidam referrentur at. Ut solet mucius placerat usu, ut has dicat dolorum evertitur, at utamur partiendo has. Ex enim laudem persequeris vim.<br />
            <br />
            Sit an posse eruditi corrumpit. Eligendi pericula ne duo. Vix illud omnesque salutatus ne. Est in saepe civibus, oportere hendrerit scribentur eos ad. Alienum comprehensam eu mei. Te iusto integre nam, unum hendrerit eu ius. Sonet causae per no, ex vel choro eirmod alienum. Ut putent fabulas civibus eam, eu mucius nostrum philosophia pro, pri an reque iuvaret vulputate. </div>
          <h2><a href="#"><img src="img/more.gif" alt="" />Read more</a> <a href="#"><img src="img/comment.gif" alt="" />Comments (21)</a></h2>
        </div>
      </div>
      <div class="rightpanel">
        <div class="header">Inquiry</div>
        <div class="inquiry"> <span class="divider" style="font-weight:bold;">Pri iudico cetero euripidis eu, tota utinam interesset nam et?</span> <span class="divider"><a href="#">Viris delectus voluptatum</a> (467)</span> <span class="divider"><a href="#">Has ne etiam epicuri</a> (1347)</span> <span class="divider"><a href="#">Docendi honestatis eos ne</a> (608)</span> <span class="divider"><a href="#">Mel ex ullum probatus similique</a> (609)</span> <strong>3031 votes</strong><br />
          <br />
        </div>
        <div class="header">Corporation ltd.</div>
        <div class="text"> <strong>Corporation ltd.</strong><br />
          <br />
          212 Military Parkway<br />
          <span class="divider">Los Angeles, CA 94043</span> Telephone: +421 903 000 000<br />
          E-mail: e-mail@domain.com<br />
          ICQ: 000-000-000<br />
          <span class="divider">Skype: corporation1</span> Telephone: +421 903 000 000<br />
          E-mail: e-mail@domain.com<br />
          ICQ: 000-000-000<br />
          Skype: corporation1<br />
          <br />
        </div>
      </div>
    </div>
    <div class="info1">
      <div style="display:inline; float:left;">&copy; 2008 <a href="#">yourwebsite.com</a>. Design <a href="http://pbcreations.sk">P&amp;B Creations</a>.</div>
      <div style="display:inline; float:right;"><a href="http://www.topas-tachlovice.cz/topas-tachlovice.aspx">Tachlovice</a></div>
    </div>
  </div>
</div>
</body>
</html>
