<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Corporation ltd - 2 Column Layout - Small column left</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="menu.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="style.css" />
<style type="text/css">
<!--

div.wrap1 .wrap2 {
	/* only with left panel */ background-image: url(img/bg1.gif);
	/* right and left panel - background-image: url(img/bg2.gif); */
	/* only with right panel - background-image: url(img/bg3.gif); */
}

-->
</style>
</head>
<body>
<div class="wrap1">
  <div class="wrap2">
    <div class="logo"> Corporation ltd.
      <div class="slogan">Your slogan goes here.</div>
    </div>
    <div id="menu">
      <div class="menu">
        <ul>
          <li><span class="hlavny_"><a href="#">Home</a></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="left"></span><span class="hlavny"><a href="index1.html">2 Columns (1)</a></span><span class="right"></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="index2.html">2 Columns (2)</a></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="#" >Links</a></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="#">Contact</a></span></li>
        </ul>
      </div>
      <div class="info"> This text is describing selected item. You may give here advertisement, informations etc. Whatever! </div>
      <div class="leftpanel">
        <div class="header">Products</div>
        <ul id="categories">
          <li style="border-top:0;"><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
          <li><a href="#">Item 5</a></li>
          <li><a href="#">Item 6</a></li>
          <li><a href="#">Item 7</a></li>
        </ul>
        <br />
        <div class="header">Office</div>
        <div class="text"> <strong>Corporation ltd.</strong><br />
          <br />
          212 Military Parkway<br />
          <span class="divider">Los Angeles, CA 94043</span> Telephone: +421 903 000 000<br />
          E-mail: e-mail@domain.com<br />
          ICQ: 000-000-000<br />
          Skype: corporation1<br />
          <br />
        </div>
      </div>
      <div class="mainpanel" style="width:656px;">
        <div class="text_">
          <h1><a href="#">Lorem ipsum vidisse nominavi</a></h1>
          <div class="text"><img src="img/img1.jpg" alt="" />Lorem ipsum vidisse nominavi liberavisse ut vim, per ut scripta delectus. Ad sanctus quaerendum vis, admodum luptatum vulputate et vel. Id option propriae nam. Ex fugit oblique saperet sit, <a href="#">causae persius</a> est ad, vim eu dicant utroque concludaturque.<br />
            <br />
            Cu alii movet diceret duo.<br />
            <br />
            Iudicabit conceptam pri te, cu sed incorrupte reprehendunt, tamquam eripuit ut per. Ius quem blandit ut, id eligendi invidunt vix. Et sea posse atomorum interpretaris, ne clita placerat expetendis sea. Error ornatus dissentiunt pri ne, est ei adhuc appareat petentium. Suas aperiri lucilius at sit. </div>
          <h2><a href="#"><img src="img/more.gif" alt="" />Read more</a> <a href="#"><img src="img/comment.gif" alt="" />Comments (8)</a></h2>
        </div>
        <div class="text_">
          <h1><a href="#">Sed unum qualisque idi</a></h1>
          <div class="text"><img src="img/img1.jpg" alt="" />Sed unum qualisque id, et est reque veniam disputando. Ad eum saperet consulatu laboramus, audire percipit eu cum. Nec eu wisi delicatissimi. Ut putent fabulas civibus eam, eu mucius nostrum philosophia pro, pri an reque iuvaret vulputate. Eum ei assum sensibus iudicabit.<br />
            <br />
            Ad has utinam senserit maiestatis. Sonet causae per no, ex vel choro eirmod alienum. Tota takimata <a href="#">imperdiet</a> ea est, ut eligendi iudicabit mei. Sea probo <a href="#">laboramus</a> in, paulo placerat at qui. Vix labore concludaturque ex. Cu alii movet diceret duo.<br />
            <br />
            His aliquip inciderint ex, meliore mediocritatem in sed, an fabulas inimicus praesent cum. Ut legendos conclusionemque vix. Ea legere tincidunt constituto has. Ut his <a href="#">solum audire efficiendi</a>, pri postea quidam referrentur at. </div>
          <h2><a href="#"><img src="img/more.gif" alt="" />Read more</a> <a href="#"><img src="img/comment.gif" alt="" />Comments (8)</a></h2>
        </div>
        <div class="text_">
          <h1><a href="#">His aliquip inciderint ex</a></h1>
          <div class="text"><img src="img/img1.jpg" alt="" />His aliquip inciderint ex, meliore mediocritatem in sed, an fabulas inimicus praesent cum. Ut legendos conclusionemque vix. Ea legere tincidunt constituto has. Ut his <a href="#">solum audire efficiendi</a>, pri postea quidam referrentur at. Ut solet mucius placerat usu, ut has dicat dolorum evertitur, at utamur partiendo has. Ex enim laudem persequeris vim.<br />
            <br />
            Sit an posse eruditi corrumpit. Eligendi pericula ne duo. Vix illud omnesque salutatus ne. Est in saepe civibus, oportere hendrerit scribentur eos ad. Alienum comprehensam eu mei. Te iusto integre nam, unum hendrerit eu ius. Sonet causae per no, ex vel choro eirmod alienum. Ut putent fabulas civibus eam, eu mucius nostrum philosophia pro, pri an reque iuvaret vulputate. </div>
          <h2><a href="#"><img src="img/more.gif" alt="" />Read more</a> <a href="#"><img src="img/comment.gif" alt="" />Comments (8)</a></h2>
        </div>
      </div>
    </div>
    <div class="info1">
      <div style="display:inline; float:left;">&copy; 2008 <a href="#">yourwebsite.com</a>. Design <a href="http://pbcreations.sk">P&amp;B Creations</a>.</div>
      <div style="display:inline; float:right;"><a href="http://www.topas-tachlovice.cz/topas-tachlovice.aspx">Tachlovice</a></div>
    </div>
  </div>
</div>
</body>
</html>
