<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" width="50%">&nbsp;</td>
    <td valign="top" class="main" width="766" height="606">
	<table width="766" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td valign="top" height="51">&nbsp;</td>
	  </tr>
	  <tr>
		<td valign="top">
			<table width="766" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td valign="top"><img src="images/name.jpg" alt="" /><div id="content"></div></td>
				<td valign="top" style="padding-top:28px;"><img src="images/about.jpg" alt="" /></td>
				<td valign="top"><img src="images/1.jpg" alt="" /><br />
				<a href="#"><img src="images/2.jpg" alt="" /></a><a href="#"><img src="images/3.jpg" alt="" /></a><a href="#"><img src="images/4.jpg" alt="" /></a><img src="images/5.jpg" alt="" /><br />
				<img src="images/6.jpg" alt=""></td>
			  </tr>
			</table>
		</td>
	  </tr>
	  <tr>
		<td valign="top" style="padding-top:65px; "><img src="images/welcome.jpg" alt="" style="padding:0 115px 0 165px; " /><img src="images/news.jpg" alt="" /></td>
	  </tr>
	  <tr>
		<td valign="top" style="padding-left:202px;">
			<table width="485" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td valign="top" width="274">
				<div class="text1"><span class="text_c">Lorem ipsum dolor sit amet,</span> consectetuer adipiscing elit, sed diam nonummy nibh eui tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
				<img src="images/ph1.jpg" alt="" align="left" /><div class="text2"><table border="0" cellspacing="0" cellpadding="0">
																					  <tr>
																						<td valign="top" width="19"><img src="images/q1.jpg" alt="" vspace="3" hspace="6" /></td>
																						<td valign="top" class="link"><a href="#">Dolor in hendrerit in vulputate esse</a><br /><br /></td>
																					  </tr>
																					  <tr>	
																						<td valign="top"><img src="images/q2.jpg" alt="" vspace="3" hspace="6" /></td>
																						<td valign="top"><span class="text_c">Molestie consequat, vel illum dolore eu feugiat nulla facilisis.Amet conse</span><br /><br />
																						<div class="more"><a href="#">read more</a>&nbsp;<img src="images/z.jpg" align="middle" alt="" /></div></td>
																					  </tr>
																					</table>																					
				
				</div>
				</td>
				<td valign="top" width="211">
				<div class="text3"><img src="images/q3.jpg" alt="" />&nbsp;&nbsp;23.05.05<br />
									<a href="#">Best Design For You</a><br />
									Consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.
									<br /><br />
									<img src="images/q3.jpg" alt="" />&nbsp;&nbsp;17.05.05<br />
									<a href="#">Visit my fiend&rsquo;s site</a><br />
									Consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit<br /><br /><br />
									<img src="images/q3.jpg" alt="" />&nbsp;&nbsp;<a href="#">All news for last month</a></div>
				</td>
			  </tr>
			</table>
		</td>
	  </tr>
	  <tr>
		<td valign="top"><img src="images/resume.jpg" alt="" style=" padding-left:165px;" /><br />
		<div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud execi <a href="#">tation ullamcorper</a> suscpit lobois nisl ut aliquip ex ea commodo consat</div></td>
	  </tr>
	  <tr>
		<td valign="top">
		<div class="copy">&copy; 2005 | <a href="#">Privacy Policy</a><br /><a href="http://www.webdesign.org">Web Design</a> by <a href="http://www.freetemplatesonline.com">Free Templates</a> Online</div>
		</td>
	  </tr>
	</table>
	</td>
    <td valign="top" width="50%">&nbsp;</td>
  </tr>
</table>

</body>
</html>
